/build.properties
/bin/
/build/
/.gradle/
/.settings/
/.project
logs/
log/
data/
.svn
*.pyc
*.class
*.log
*.csv
*.gz
*.sqlite
.project
.pydevproject
build
eggs
parts
bin
var
sdist
pip-log.txt
.env
.eggs/
*.egg
*.egg-info
/dist/
.pypirc
